body{
    margin: 0;
   
}
/* header css */
header{
    background-image: url(img/banner-bk.jpg);
    background-repeat: no-repeat;
    display: flex;
}
header img{
    width: 100px;
    height: 100px;
}
.header-left{
    margin-left: 25%;
    margin-top: 5%;
}
.header-left h2{
    color: aliceblue;
    font-size: 55px;
}
.header-left p{
    color: aliceblue;
    font-size: 20px;
    margin: 20px 0px;
}
.header-left button{
    padding: 12px 30px;
    margin: 24px 0px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    background-color: #00E69C;
    font-weight: bold;
}

.header-left button:hover{
    color: white;
}
/* header css ends */
.early-access{
    margin-top: 125px;
}
.early-access a{
    font-size: 22px;
    color: aliceblue;
    text-decoration: none;
}
.early-access a:hover{
    text-decoration: underline;
}
/* header css ends */

.smart h1{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}
.anti-spam{
    width: 30%;
}
.anti-spam img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.anti-spam h3{
    text-align: center;
    font-size: 24px;
}
.anti-spam p{
    text-align: center;
    font-size: 18px;
}
.smart-section{
    display: flex;
    margin-left: 238px;
}
/* feature starts */
.feature{
    margin-left: 25%;
    margin-top: 15%;
}
.feature h2{
    color: rgba(5, 5, 5, 0.718);
    font-size: 55px;
}
.feature p{
    color: rgb(0, 4, 7);
    font-size: 20px;
    margin: 20px 0px;
}
.feature button{
    padding: 12px 30px;
    margin: 24px 0px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    background-color: #121A2E;
    font-weight: bold;
    color: aliceblue;
}

.feature button:hover{
    color: white;
}
.feature{
    display: flex;
    align-items: center;
}
.features{
    background-color: #00FFAD;
    background: linear-gradient(168deg, #ffffff 35%, #00FFAD 0)
}
/* pricing css starts */
.pricing h1{
    color: #121A2E;
    text-align: center;
    font-size: 38px;
    margin-top: 80px;
}
.startup button{
    padding: 10px 15px;
    margin: 24px 0px;
    border-radius: 20px;
    font-size: 17px;
    background-color: #ffffff;
    font-weight: bold;
    color: #121A2E;
    border: 2px solid #121A2E;
}

.startup button:hover{
    color: #ffffff;
    background-color: #121A2E;
}
.startup{
    /* background-color: #00E69C; */
    width: 20%;
}
.startup h2,p{
    text-align: center;
}
.startup a{
    margin: auto 33%;
}
.price{
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 100px;
}
/* premium */
.premium button{
    padding: 10px 15px;
    margin: 24px 0px;
    border-radius: 20px;
    font-size: 17px;
    background-color: #ffffff;
    font-weight: bold;
    color: #121A2E;
    border: 2px solid #121A2E;
}

.premium button:hover{
    color: #ffffff;
    background-color: #121A2E;
}
.premium{
    width: 20%;
    background-color: #192440;
    border-radius: 10px;
}
.premium h2,p{
    text-align: center;
}
.premium a{
    margin: auto 33%;
}
/* .premium h2,p{
    color: #ffffff;
} */
/* Company CSS Start */
.company{
    margin-top: 100px;
    background-color: #ECEEEF;
    height: 150px;
}
.client{
    display: flex;
    margin-left: 250px;
   
}
.client-img{
    padding: 50px;
}




